<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="details" href="/tabs/details">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Details</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list" href="/tabs/list">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>My list</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
