<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search Movies</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar [(ngModel)]="query" (ionInput)="findMovies()"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let movie of movies">
      <ion-avatar slot="start">
        <img [src]="movie.Poster" />
      </ion-avatar>
      <ion-label>
        <h2>{{ movie.Title }}</h2>
        <p>{{ movie.Year }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>